/* Ensure the body takes up the full height of the viewport */
:root{
    --primary-color: #d1cdb7;
    --secondary-color: #bab5a1;
    --tertiary-color: #454138;
    --fourth-color: #dcd8c0;
    --grid-color: #ccc8b1;
    --grid-golor2: #ccc8b100;
    font-family: "Rodin Pro DB", serif;
}

@font-face {
    font-family: 'Rodin Pro DB';
    src: url("../assets/font/FOT-RodinProN-DB.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Flexbar layout for the body */
body {
    background: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    letter-spacing: 0.03rem;
    background-image: linear-gradient(to right, var(--grid-color) 1px, var(--grid-golor2) 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, var(--grid-golor2) 1px);
    background-size: 5px 5px;
}

/* Main style */
main {
    height: 100%;
    width: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* Footer style */
footer {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
::selection {
    background: var(--secondary-color);
}
a{
    color: inherit;
}
p{
    margin: 0 0 1rem 0;
}
mark{
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    padding: 0.2rem;
    border-radius: 0.2rem;
}
h1{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0 var(--secondary-color);
}
h2 {
    font-weight: lighter;
    border: solid var(--tertiary-color);
    border-width: 0.1rem 0;
    padding: 0.1rem 1rem;
}
h3,
h4,
h5,
h6 {
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

input[type=submit]:not(:disabled),
input[type=button]:not(:disabled),
input[type=reset]:not(:disabled) {
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: var(--secondary-color);
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, box-shadow;
    -moz-transition-property: color, background-color, box-shadow;
    -o-transition-property: color, background-color, box-shadow;
    -ms-transition-property: color, background-color, box-shadow;
    transition-property: color, background-color, box-shadow;
}
input[type=submit]:not(:disabled):hover,
input[type=button]:not(:disabled):hover,
input[type=reset]:not(:disabled):hover {
    -webkit-box-shadow: 0.2em 0.2em 0.1em 0 var(--secondary-color);
    box-shadow: 0.2em 0.2em 0.1em 0 var(--secondary-color);
}
input[type=submit]:not(:disabled):hover,
input[type=button]:not(:disabled):hover,
input[type=reset]:not(:disabled):hover {
    background-color: var(--tertiary-color);
    color: var(--fourth-color);
}
input[type=submit]:not(:disabled):active,
input[type=button]:not(:disabled):active,
input[type=reset]:not(:disabled):active {
    background-color: var(--fourth-color);
    color: var(--tertiary-color);
}
input:disabled,
button:disabled,
.button-disabled {
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: var(--fourth-color);
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    color: var(--secondary-color);
    cursor: not-allowed;
}
button:not(:disabled),
.button {
    padding: 0.5rem;
    font-size: 1em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: var(--secondary-color);
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, box-shadow;
    -moz-transition-property: color, background-color, box-shadow;
    -o-transition-property: color, background-color, box-shadow;
    -ms-transition-property: color, background-color, box-shadow;
    transition-property: color, background-color, box-shadow;
    position: relative;
    z-index: 1;
}
button:not(:disabled):hover,
.button:hover {
    -webkit-box-shadow: 0.2em 0.2em 0.1em 0 var(--secondary-color);
    box-shadow: 0.2em 0.2em 0.1em 0 var(--secondary-color);
}
button:not(:disabled):before,
.button:before {
    content: '';
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
button:not(:disabled):after,
.button:after {
    content: '';
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--tertiary-color);
    z-index: -1;
}
button:not(:disabled):hover,
.button:hover {
    background-color: transparent;
    color: var(--fourth-color);
}
button:not(:disabled):hover:before,
.button:hover:before {
    top: -0.2rem;
    bottom: -0.2rem;
    border: solid var(--tertiary-color);
    border-width: 0.1rem 0;
}
button:not(:disabled):hover:after,
.button:hover:after {
    width: 100%;
}
button:not(:disabled):active,
.button:active {
    color: var(--tertiary-color);
}
button:not(:disabled):active:after,
.button:active:after {
    background-color: var(--fourth-color);
}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    color: var(--secondary-color);
    font-weight: lighter;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    color: var(--secondary-color);
    font-weight: lighter;
}
figure {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1rem;
    background-color: var(--fourth-color);
    padding: 0.5rem;
}
figure > :not(figcaption) {
    margin: 0.5rem;
}
figure > figcaption {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -o-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
    margin: -0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}
/* Social bar style */
.social-bg {
    background-color: inherit;
    padding: 10px 0;
}

.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-list li {
    margin: 0 10px;
}

.social-list li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.social-list li a {
    color: var(--font-color);
    text-decoration: none;
    margin-left: 5px;
}

/* Header style */
.header {
    text-align: center;
    padding: 50px 0 10px 0;
}


.header.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header.subtitle {
    font-size: 1.2em;
}

/* Navbar style */
.navbar {
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar .nav.list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 auto;
}

.navbar .nav.list li {
    float: left;
}

.navbar .nav.list li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.navbar .nav.list li a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-decoration: underline;
}

/* General style */

.header-title {
    padding: 20px;
    text-align: center;
}
/* Index page style */

.index-main{
    display: grid;
    align-items: center;
    justify-items: center;
}

.indexh1{
    align-self: flex-end;
}

.i-desc{
    display: block;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

/* Projets page style */

.thumbnails{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.thumblist{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 1px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}

.thumblist:hover{
    transform: scale(1.05);
}

.thumblist img{
    max-width: 100%;
    height: auto;
}

.thumblist p {
    margin: 10px 0;
}

.redirect-btn{
    display: inline-block;
    text-decoration: none;
    padding: 3% 4%;
    border-radius: 0;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.redirect-btn:hover{
}

/* Stage page style */

.bts-docs-sec{
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    justify-items: center;
}

.bts-docs-list{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    justify-content: center;
    text-align: center;
    border-radius: 1px;
    padding-left: 0;
    width: 70%;
}

.headerstage{
    padding: 2%;
}

.stage-sec{
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    justify-items: center;
}

.stage-list{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    justify-content: center;
    text-align: center;
    border-radius: 1px;
    padding-left: 0;
    width: 70%;
    
}

.stage-list img{
    max-width: 100%;
    height: auto;
}

.stage{
    display: grid;
    padding: 2%;
    width: 50%;
}

.certif-sec{
    padding-left: 15%;
    padding-right: 15%;
    width: auto;
    height: auto;
    display: grid;
    justify-items: center;
}

.certif-list{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    justify-content: center;
    text-align: center;
    border-radius: 1px;
    transition: transform 0.3s;
    padding-left: 0;
    width: 40%;
}

.certif-list img{
    max-width: 100%;
    height: auto;
}

.certif{
    transition: transform 0.3s;
    padding: 2%;
    width: 50%;
}

/* About page style */

.profile-container{
    display: flex;
    justify-content: space-evenly;
    min-height: 450PX;
}

.profile-cv {
    width: 30%;
}

.profile-cv img{
    width: 100%;
}

.profile-description{
    width: 45%;
    padding: 3%;
    scroll-behavior: smooth;
}

.download-cv {
    text-align: center;
    margin-top: 20px;
}

.download-btn {
    display: inline-block;
    text-decoration: none;
    padding: 3% 4%;
    border-radius: 0;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.download-btn:hover {
    cursor: pointer;
}

/* Mics */

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease;
}


/* Responsive design */
@media (max-width: 768px) {
    .navbar .nav.list {
        float: none;
        width: 100%;
        text-align: center;
        display: ruby;
        padding: 2%;
    }

    .nav-ico {
        width: 4vw; 
        height: 4vw;
    }
    
    .dropdown-content {
        position: relative;
    }

    .navbar .nav.list li a {
        text-align: left;
        padding: 10px;
    }

    .header.title {
        height: auto;
        padding: 20px;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .iframe-cv {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10%;
    }

    .profile-cv, .profile-description {
        width: 100%;
        position: relative;
        padding: 3% 3% 40%;
    }
    
    .profile-description {
        text-align: justify;
    }
}